<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>レストラン検索</title>
    <link rel="stylesheet" href="../CSS/search.css">
    </head>

<body>
    <div class="container">
        <h1>🍽️ レストラン検索</h1>
        
        <form action="/search" method="POST" class="search-form">
            <input type="text" name="keyword" placeholder="キーワードを入力してください" required>
            <button type="submit">検索</button>
        </form>
        
        <div id="result" class="result"></div>
        
        
        {{ if .Found }}
        <h2>「{{ .Keyword }}」の検索結果: ({{ len .Shops }}件)</h2>
        <ul class="shop-list">
            {{ range .Shops }}
            <li class="shop-item">
                <h2>{{ .Name }}</h2>
                <p>住所: {{ .Address }}</p>
                <p>アクセス: {{ .Access }}</p>
                <p>営業時間: {{ .Open }}</p>
                <p>定休日: {{ .Close }}</p>
                {{ if .Photo.PC.L }}
                    <img src="{{ .Photo.PC.L }}" alt="{{ .Name }}" style="max-width: 100%; height: auto;">
                {{ end }}
                {{ if .CouponURLs.PC }}
                    <p><a href="{{ .CouponURLs.PC }}" target="_blank">クーポンを見る (PC)</a></p>
                {{ end }}
            </li>
            {{ end }}
        </ul>
        {{ else if .Keyword }} 
        <p class="no-results">「{{ .Keyword }}」に一致する店舗は見つかりませんでした。</p>
        {{ end }}
    </div>

    
</body>
</html>